openapi: 3.2.0
info:
  title: Token Account Verifications API
  version: 1.0.0
  description: Token REST API.
servers:
- url: https://api.token.io/v1
tags:
- name: Account Verifications
paths:
  /account-verifications:
    post:
      operationId: AccountVerificationService.PerformAccountVerification
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/io.token.proto.gateway.accountverification.AccountVerificationResponse'
      tags:
      - Account Verifications
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/io.token.proto.gateway.accountverification.PerformAccountVerificationRequest'
        required: true
      summary: Account verification service perform account verification
      x-summary-source: derived
components:
  schemas:
    io.token.proto.gateway.accountverification.AccountVerificationResultStatus:
      enum:
      - INVALID_STATUS
      - MATCH
      - NO_MATCH
      - CLOSE_MATCH
      - VERIFICATION_NOT_POSSIBLE
      default: INVALID_STATUS
      type: string
    io.token.proto.gateway.accountverification.MatchDetails:
      type: object
      properties:
        accountType:
          $ref: '#/components/schemas/io.token.proto.gateway.accountverification.AccountType'
        name:
          type: string
    io.token.proto.gateway.accountverification.Currency:
      enum:
      - INVALID_CURRENCY
      - GBP
      - EUR
      default: INVALID_CURRENCY
      type: string
    io.token.proto.gateway.accountverification.AccountDetails:
      type: object
      properties:
        accountNumber:
          type: string
        accountType:
          $ref: '#/components/schemas/io.token.proto.gateway.accountverification.AccountType'
        currency:
          $ref: '#/components/schemas/io.token.proto.gateway.accountverification.Currency'
        iban:
          type: string
        name:
          type: string
        sortCode:
          type: string
    io.token.proto.gateway.accountverification.AccountVerificationResultReason:
      enum:
      - INVALID_REASON
      - UNKNOWN
      - EXACT_MATCH
      - NAME_MISMATCH
      - ACCOUNT_MISMATCH
      - ACCOUNT_TYPE_MISMATCH
      default: INVALID_REASON
      type: string
    io.token.proto.gateway.accountverification.AccountVerificationResponse:
      type: object
      properties:
        id:
          type: string
        result:
          $ref: '#/components/schemas/io.token.proto.gateway.accountverification.AccountVerificationResult'
    io.token.proto.gateway.accountverification.PerformAccountVerificationRequest:
      type: object
      properties:
        account:
          $ref: '#/components/schemas/io.token.proto.gateway.accountverification.AccountDetails'
        virtualAccountId:
          type: string
    io.token.proto.gateway.accountverification.AccountType:
      enum:
      - NOT_APPLICABLE_ACCOUNT_TYPE
      - PERSONAL
      - BUSINESS
      default: NOT_APPLICABLE_ACCOUNT_TYPE
      type: string
    io.token.proto.gateway.accountverification.AccountVerificationResult:
      type: object
      properties:
        details:
          type: string
        matched:
          $ref: '#/components/schemas/io.token.proto.gateway.accountverification.MatchDetails'
        reasons:
          items:
            $ref: '#/components/schemas/io.token.proto.gateway.accountverification.AccountVerificationResultReason'
          type: array
        status:
          $ref: '#/components/schemas/io.token.proto.gateway.accountverification.AccountVerificationResultStatus'
