openapi: 3.2.0
info:
  title: Token Requests API
  version: 1.0.0
  description: Token REST API.
servers:
- url: https://api.token.io/v1
tags:
- name: Requests
paths:
  /token-requests:
    post:
      operationId: GatewayService.StoreTokenRequest
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/io.token.proto.gateway.StoreTokenRequestResponse'
      tags:
      - Requests
      summary: Create a token request
      description: Persists required information used by the Token web app to complete a transaction
      deprecated: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/io.token.proto.gateway.StoreTokenRequestRequest'
        required: true
  /token-requests/{requestId}:
    get:
      operationId: GatewayService.RetrieveTokenRequest
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/io.token.proto.gateway.RetrieveTokenRequestResponse'
      parameters:
      - name: requestId
        in: path
        required: true
        schema:
          type: string
      tags:
      - Requests
      summary: Find a token request
      description: Retrieves a specific token request by token ID
      deprecated: false
  /token-requests/{tokenRequestId}/result:
    get:
      operationId: GatewayService.GetTokenRequestResultWithStatus
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/io.token.proto.gateway.GetTokenRequestResultWithStatusResponse'
      parameters:
      - name: tokenRequestId
        in: path
        required: true
        schema:
          type: string
      tags:
      - Requests
      summary: Obtain the result of a token request with the status
      description: Checks whether a token request result is available. This endpoint will return a PENDING status while the result is not available. The status will become PROCESSED once the result is available. If the request is rejected by the bank, the status will become REJECTED. The status will become EXPIRED if the request is not processed or rejected before the token request expiration.
      deprecated: false
  /token-requests/{tokenRequestId}/token_request_result:
    get:
      operationId: GatewayService.GetTokenRequestResult
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/io.token.proto.gateway.GetTokenRequestResultResponse'
      parameters:
      - name: tokenRequestId
        in: path
        required: true
        schema:
          type: string
      tags:
      - Requests
      summary: Obtain the result of a token request
      description: Checks whether a token request result is available
      deprecated: false
components:
  schemas:
    io.token.proto.common.token.TokenRequestPayload.AccessBody:
      type: object
      properties:
        accountResourceList:
          $ref: '#/components/schemas/io.token.proto.common.token.TokenRequestPayload.AccessBody.AccountResourceList'
        resourceTypeList:
          $ref: '#/components/schemas/io.token.proto.common.token.TokenRequestPayload.AccessBody.ResourceTypeList'
        resourceTypes:
          items:
            type: string
          type: array
        transactionHistoryDays:
          format: int32
          type: integer
        type:
          items:
            $ref: '#/components/schemas/io.token.proto.common.token.TokenRequestPayload.AccessBody.ResourceType'
          type: array
    io.token.proto.common.providerspecific.nextgenpsd2.NextGenPsd2StandingOrderMetadata:
      type: object
      properties:
        creditorAgentName:
          type: string
        endToEndIdentification:
          type: string
    io.token.proto.common.security.Signature:
      type: object
      properties:
        keyId:
          type: string
        memberId:
          type: string
        signature:
          type: string
    io.token.proto.common.account.AccountIdentifier:
      type: object
      properties:
        bankgiro:
          $ref: '#/components/schemas/io.token.proto.common.account.AccountIdentifier.Bankgiro'
        bban:
          $ref: '#/components/schemas/io.token.proto.common.account.AccountIdentifier.Bban'
        gbDomestic:
          $ref: '#/components/schemas/io.token.proto.common.account.AccountIdentifier.GbDomestic'
        iban:
          $ref: '#/components/schemas/io.token.proto.common.account.AccountIdentifier.Iban'
        msisdn:
          $ref: '#/components/schemas/io.token.proto.common.account.AccountIdentifier.Msisdn'
        pan:
          $ref: '#/components/schemas/io.token.proto.common.account.AccountIdentifier.Pan'
        plusgiro:
          $ref: '#/components/schemas/io.token.proto.common.account.AccountIdentifier.Plusgiro'
        token:
          $ref: '#/components/schemas/io.token.proto.common.account.AccountIdentifier.Token'
    io.token.proto.common.transferinstructions.TransferDestination.Ach:
      type: object
      properties:
        account:
          type: string
        routing:
          type: string
    io.token.proto.common.transferinstructions.TransferEndpoint:
      type: object
      properties:
        account:
          $ref: '#/components/schemas/io.token.proto.common.account.BankAccount'
        accountIdentifier:
          $ref: '#/components/schemas/io.token.proto.common.account.AccountIdentifier'
        bankId:
          type: string
        bic:
          type: string
        customerData:
          $ref: '#/components/schemas/io.token.proto.common.transferinstructions.CustomerData'
    io.token.proto.common.money.Money:
      type: object
      properties:
        currency:
          type: string
        value:
          type: string
    io.token.proto.common.account.AccountIdentifier.Bankgiro:
      type: object
      properties:
        bankgiroNumber:
          type: string
    io.token.proto.common.providerspecific.ProviderStandingOrderMetadata:
      type: object
      properties:
        cma9StandingOrderMetadata:
          $ref: '#/components/schemas/io.token.proto.common.providerspecific.cma9.Cma9StandingOrderMetadata'
        nextGenPsd2StandingOrderMetadata:
          $ref: '#/components/schemas/io.token.proto.common.providerspecific.nextgenpsd2.NextGenPsd2StandingOrderMetadata'
        polishapiStandingOrderMetadata:
          $ref: '#/components/schemas/io.token.proto.common.providerspecific.polishapi.PolishApiStandingOrderMetadata'
        stetStandingOrderMetadata:
          $ref: '#/components/schemas/io.token.proto.common.providerspecific.stet.StetStandingOrderMetadata'
    io.token.proto.common.providerspecific.stet.RegulatoryReportingCodes:
      type: object
      properties:
        regulatoryReportingCode:
          items:
            type: string
          type: array
    io.token.proto.common.token.StandingOrderBody:
      type: object
      properties:
        amount:
          type: string
        currency:
          type: string
        endDate:
          type: string
        frequency:
          type: string
        instructions:
          $ref: '#/components/schemas/io.token.proto.common.transferinstructions.TransferInstructions'
        remittanceReference:
          type: string
        returnRefundAccount:
          format: boolean
          type: boolean
        startDate:
          type: string
    io.token.proto.common.transferinstructions.TransferDestination.EuDomesticNonEuroInstant:
      type: object
      properties:
        bban:
          type: string
        bic:
          type: string
        clearingNumber:
          type: string
        iban:
          type: string
    io.token.proto.common.account.AccountIdentifier.Bban:
      type: object
      properties:
        bban:
          type: string
        clearingNumber:
          type: string
    io.token.proto.common.providerspecific.nextgenpsd2.NextGenPsd2TransferMetadata:
      type: object
      properties:
        creditorAgent:
          type: string
        creditorAgentName:
          type: string
        endToEndIdentification:
          type: string
        remittanceInformationStructured:
          type: string
    io.token.proto.common.account.BankAccount.Custom:
      type: object
      properties:
        bankId:
          type: string
        payload:
          type: string
    io.token.proto.common.token.BulkTransferBody:
      type: object
      properties:
        source:
          $ref: '#/components/schemas/io.token.proto.common.transferinstructions.TransferEndpoint'
        totalAmount:
          type: string
        transfers:
          items:
            $ref: '#/components/schemas/io.token.proto.common.token.BulkTransferBody.Transfer'
          type: array
    io.token.proto.gateway.RetrieveTokenRequestResponse:
      type: object
      properties:
        customization:
          $ref: '#/components/schemas/io.token.proto.common.member.Customization'
        hideConsent:
          format: boolean
          type: boolean
        tokenRequest:
          $ref: '#/components/schemas/io.token.proto.common.token.TokenRequest'
    io.token.proto.common.transferinstructions.TransferDestination.SepaInstant:
      type: object
      properties:
        bic:
          type: string
        iban:
          type: string
    io.token.proto.common.member.Customization:
      type: object
      properties:
        appName:
          type: string
        colors:
          $ref: '#/components/schemas/io.token.proto.common.member.Customization.ColorsEntry'
        consentText:
          type: string
        customizationId:
          type: string
        logoBlobId:
          type: string
        name:
          type: string
    io.token.proto.common.providerspecific.stet.GenericIdentification:
      type: object
      properties:
        identification:
          type: string
        issuer:
          type: string
        schemeName:
          type: string
    io.token.proto.common.providerspecific.stet.FinancialInstitutionIdentification:
      type: object
      properties:
        bicFi:
          type: string
        clearingSystemMemberId:
          $ref: '#/components/schemas/io.token.proto.common.providerspecific.stet.ClearingSystemMemberIdentification'
        name:
          type: string
        postalAddress:
          $ref: '#/components/schemas/io.token.proto.common.providerspecific.stet.PostalAddress'
    io.token.proto.common.security.SealedMessage.NoopMethod:
      type: object
      properties: {}
    io.token.proto.common.transferinstructions.TransferDestination.Chaps:
      type: object
      properties:
        accountNumber:
          type: string
        sortCode:
          type: string
    io.token.proto.common.account.BankAccount.Guest:
      type: object
      properties:
        bankId:
          type: string
        nonce:
          type: string
    io.token.proto.common.transferinstructions.TransferDestination.EuDomesticNonEuro:
      type: object
      properties:
        bban:
          type: string
        bic:
          type: string
        clearingNumber:
          type: string
        iban:
          type: string
    io.token.proto.common.providerspecific.stet.ClearingSystemMemberIdentification:
      type: object
      properties:
        clearingSystemId:
          type: string
        memberId:
          type: string
    io.token.proto.common.security.SealedMessage.RsaAesMethod:
      type: object
      properties:
        aesAlgorithm:
          type: string
        encryptedAesKey:
          type: string
        rsaAlgorithm:
          type: string
        rsaKeyId:
          type: string
        signature:
          type: string
        signatureKeyId:
          type: string
    io.token.proto.gateway.StoreTokenRequestRequest:
      type: object
      properties:
        requestOptions:
          $ref: '#/components/schemas/io.token.proto.common.token.TokenRequestOptions'
        requestPayload:
          $ref: '#/components/schemas/io.token.proto.common.token.TokenRequestPayload'
    io.token.proto.common.providerspecific.cma9.Cma9StandingOrderMetadata:
      type: object
      properties:
        finalPaymentAmount:
          $ref: '#/components/schemas/io.token.proto.common.money.Money'
        finalPaymentDateTime:
          type: string
        firstPaymentAmount:
          $ref: '#/components/schemas/io.token.proto.common.money.Money'
        firstPaymentDateTime:
          type: string
        frequency:
          type: string
        numberOfPayments:
          format: int32
          type: integer
        recurringPaymentAmount:
          $ref: '#/components/schemas/io.token.proto.common.money.Money'
        recurringPaymentDateTime:
          type: string
        remittanceInformation:
          $ref: '#/components/schemas/io.token.proto.common.providerspecific.cma9.RemittanceInformation'
        risk:
          $ref: '#/components/schemas/io.token.proto.common.providerspecific.cma9.Risk'
    io.token.proto.common.security.SealedMessage.RsaMethod:
      type: object
      properties:
        algorithm:
          type: string
        keyId:
          type: string
        signature:
          type: string
        signatureKeyId:
          type: string
    io.token.proto.common.token.TokenRequestPayload.AccessBody.AccountResourceType:
      enum:
      - ACCOUNT_INVALID
      - ACCOUNT_INFO
      - ACCOUNT_BALANCE
      - ACCOUNT_TRANSACTIONS
      - ACCOUNT_TRANSFER_DESTINATIONS
      - ACCOUNT_FUNDS_CONFIRMATION
      - ACCOUNT_STANDING_ORDERS
      - ACCOUNT_SCHEDULED_PAYMENTS
      - ACCOUNT_DIRECT_DEBITS
      default: ACCOUNT_INVALID
      type: string
    io.token.proto.common.transferinstructions.TransferDestination.Plusgiro:
      type: object
      properties:
        plusgiroNumber:
          type: string
    io.token.proto.common.address.Address:
      type: object
      properties:
        city:
          type: string
        conscriptionNumber:
          type: string
        country:
          type: string
        district:
          type: string
        flats:
          type: string
        full:
          type: string
        hamlet:
          type: string
        houseName:
          type: string
        houseNumber:
          type: string
        place:
          type: string
        postCode:
          type: string
        province:
          type: string
        state:
          type: string
        street:
          type: string
        subdistrict:
          type: string
        suburb:
          type: string
    io.token.proto.gateway.GetTokenRequestResultResponse:
      type: object
      properties:
        signature:
          $ref: '#/components/schemas/io.token.proto.common.security.Signature'
        standingOrderSubmissionId:
          type: string
        tokenId:
          type: string
        transferId:
          type: string
    io.token.proto.common.account.BankAccount.Swift:
      type: object
      properties:
        account:
          type: string
        bic:
          type: string
    io.token.proto.common.transferinstructions.TransferDestination.Bankgiro:
      type: object
      properties:
        bankgiroNumber:
          type: string
    io.token.proto.common.transferinstructions.CustomerData:
      type: object
      properties:
        address:
          $ref: '#/components/schemas/io.token.proto.common.address.Address'
        legalNames:
          items:
            type: string
          type: array
    io.token.proto.common.transferinstructions.TransferDestination:
      type: object
      properties:
        ach:
          $ref: '#/components/schemas/io.token.proto.common.transferinstructions.TransferDestination.Ach'
        bacs:
          $ref: '#/components/schemas/io.token.proto.common.transferinstructions.TransferDestination.Bacs'
        bankgiro:
          $ref: '#/components/schemas/io.token.proto.common.transferinstructions.TransferDestination.Bankgiro'
        beneficiary:
          $ref: '#/components/schemas/io.token.proto.common.transferinstructions.TransferDestination.Beneficiary'
        blueCash:
          $ref: '#/components/schemas/io.token.proto.common.transferinstructions.TransferDestination.BlueCash'
        chaps:
          $ref: '#/components/schemas/io.token.proto.common.transferinstructions.TransferDestination.Chaps'
        custom:
          $ref: '#/components/schemas/io.token.proto.common.transferinstructions.TransferDestination.Custom'
        customerData:
          $ref: '#/components/schemas/io.token.proto.common.transferinstructions.CustomerData'
        elixir:
          $ref: '#/components/schemas/io.token.proto.common.transferinstructions.TransferDestination.Elixir'
        euDomesticNonEuro:
          $ref: '#/components/schemas/io.token.proto.common.transferinstructions.TransferDestination.EuDomesticNonEuro'
        euDomesticNonEuroInstant:
          $ref: '#/components/schemas/io.token.proto.common.transferinstructions.TransferDestination.EuDomesticNonEuroInstant'
        expressElixir:
          $ref: '#/components/schemas/io.token.proto.common.transferinstructions.TransferDestination.ExpressElixir'
        fasterPayments:
          $ref: '#/components/schemas/io.token.proto.common.transferinstructions.TransferDestination.FasterPayments'
        hsvp:
          $ref: '#/components/schemas/io.token.proto.common.transferinstructions.TransferDestination.Hsvp'
        plusgiro:
          $ref: '#/components/schemas/io.token.proto.common.transferinstructions.TransferDestination.Plusgiro'
        sepa:
          $ref: '#/components/schemas/io.token.proto.common.transferinstructions.TransferDestination.Sepa'
        sepaInstant:
          $ref: '#/components/schemas/io.token.proto.common.transferinstructions.TransferDestination.SepaInstant'
        sorbnet:
          $ref: '#/components/schemas/io.token.proto.common.transferinstructions.TransferDestination.Sorbnet'
        swift:
          $ref: '#/components/schemas/io.token.proto.common.transferinstructions.TransferDestination.Swift'
        target2:
          $ref: '#/components/schemas/io.token.proto.common.transferinstructions.TransferDestination.Target2'
        token:
          $ref: '#/components/schemas/io.token.proto.common.transferinstructions.TransferDestination.Token'
        type:
          $ref: '#/components/schemas/io.token.proto.common.transferinstructions.TransferDestination.Type'
        usStructured:
          $ref: '#/components/schemas/io.token.proto.common.transferinstructions.TransferDestination.UsStructured'
        virtualAccount:
          $ref: '#/components/schemas/io.token.proto.common.transferinstructions.TransferDestination.VirtualAccount'
    io.token.proto.common.providerspecific.stet.PaymentTypeInformation:
      type: object
      properties:
        categoryPurpose:
          type: string
        instructionPriority:
          type: string
        localInstrument:
          type: string
        serviceLevel:
          type: string
    io.token.proto.banklink.BankAuthorization:
      type: object
      properties:
        accounts:
          items:
            $ref: '#/components/schemas/io.token.proto.common.security.SealedMessage'
          type: array
        bankId:
          type: string
    io.token.proto.common.account.BankAccount.Ach:
      type: object
      properties:
        account:
          type: string
        routing:
          type: string
    io.token.proto.common.account.AccountIdentifier.Pan:
      type: object
      properties:
        pan:
          type: string
    io.token.proto.common.transferinstructions.TransferDestination.Beneficiary.LocalInstrument:
      enum:
      - INVALID_LOCAL_INSTRUMENT
      - SEPA
      - SEPA_INSTANT
      - FASTER_PAYMENTS
      default: INVALID_LOCAL_INSTRUMENT
      type: string
    io.token.proto.common.transferinstructions.TransferDestination.Custom:
      type: object
      properties:
        bankId:
          type: string
        payload:
          type: string
    io.token.proto.common.account.BankAccount.Bank:
      type: object
      properties:
        bankId:
          type: string
    io.token.proto.common.transferinstructions.TransferDestination.Sorbnet:
      type: object
      properties:
        accountNumber:
          type: string
    io.token.proto.common.account.BankAccount.Sepa:
      type: object
      properties:
        bic:
          type: string
        iban:
          type: string
    io.token.proto.common.account.BankAccount.FasterPayments:
      type: object
      properties:
        accountNumber:
          type: string
        sortCode:
          type: string
    io.token.proto.common.providerspecific.stet.AccountIdentification:
      type: object
      properties:
        currency:
          type: string
        iban:
          type: string
        other:
          $ref: '#/components/schemas/io.token.proto.common.providerspecific.stet.GenericIdentification'
    io.token.proto.common.account.BankAccount.Domestic:
      type: object
      properties:
        accountNumber:
          type: string
        bankCode:
          type: string
        country:
          type: string
    io.token.proto.common.providerspecific.stet.StetStandingOrderMetadata:
      type: object
      properties:
        beneficiary:
          $ref: '#/components/schemas/io.token.proto.common.providerspecific.stet.Beneficiary'
        endToEndId:
          type: string
    io.token.proto.common.member.Customization.ColorsEntry:
      type: object
      properties: {}
      additionalProperties:
        type: string
    io.token.proto.common.transferinstructions.TransferDestination.Hsvp:
      type: object
      properties:
        iban:
          type: string
    io.token.proto.common.token.TokenRequestOptions:
      type: object
      properties:
        bankId:
          type: string
        from:
          $ref: '#/components/schemas/io.token.proto.common.token.TokenMember'
        psuId:
          type: string
        receiptRequested:
          format: boolean
          type: boolean
        sourceAccountId:
          type: string
        sourceIban:
          type: string
        tokenInternal:
          $ref: '#/components/schemas/io.token.proto.common.token.TokenRequestOptions.TokenInternal'
    io.token.proto.common.transferinstructions.TransferDestination.Target2:
      type: object
      properties:
        iban:
          type: string
    io.token.proto.common.transferinstructions.TransferDestination.Bacs:
      type: object
      properties:
        accountNumber:
          type: string
        sortCode:
          type: string
    io.token.proto.common.account.BankAccount:
      type: object
      properties:
        accountFeatures:
          $ref: '#/components/schemas/io.token.proto.common.account.AccountFeatures'
        ach:
          $ref: '#/components/schemas/io.token.proto.common.account.BankAccount.Ach'
        bank:
          $ref: '#/components/schemas/io.token.proto.common.account.BankAccount.Bank'
        custom:
          $ref: '#/components/schemas/io.token.proto.common.account.BankAccount.Custom'
        domestic:
          $ref: '#/components/schemas/io.token.proto.common.account.BankAccount.Domestic'
        euDomesticNonEuro:
          $ref: '#/components/schemas/io.token.proto.common.account.BankAccount.EuDomesticNonEuro'
        fasterPayments:
          $ref: '#/components/schemas/io.token.proto.common.account.BankAccount.FasterPayments'
        guest:
          $ref: '#/components/schemas/io.token.proto.common.account.BankAccount.Guest'
        iban:
          $ref: '#/components/schemas/io.token.proto.common.account.BankAccount.Iban'
        metadata:
          $ref: '#/components/schemas/io.token.proto.common.account.BankAccount.MetadataEntry'
        secret:
          $ref: '#/components/schemas/io.token.proto.common.account.BankAccount.SecretAccount'
        sepa:
          $ref: '#/components/schemas/io.token.proto.common.account.BankAccount.Sepa'
        swift:
          $ref: '#/components/schemas/io.token.proto.common.account.BankAccount.Swift'
        token:
          $ref: '#/components/schemas/io.token.proto.common.account.BankAccount.Token'
        tokenAuthorization:
          $ref: '#/components/schemas/io.token.proto.common.account.BankAccount.TokenAuthorization'
    io.token.proto.gateway.StoreTokenRequestResponse:
      type: object
      properties:
        tokenRequest:
          $ref: '#/components/schemas/io.token.proto.common.token.TokenRequest'
    io.token.proto.common.transferinstructions.TransferDestination.Beneficiary:
      type: object
      properties:
        beneficiaryId:
          type: string
        localInstrument:
          $ref: '#/components/schemas/io.token.proto.common.transferinstructions.TransferDestination.Beneficiary.LocalInstrument'
    io.token.proto.common.account.AccountIdentifier.Plusgiro:
      type: object
      properties:
        plusgiroNumber:
          type: string
    io.token.proto.gateway.GetTokenRequestResultWithStatusResponse:
      type: object
      properties:
        bankId:
          type: string
        signature:
          $ref: '#/components/schemas/io.token.proto.common.security.Signature'
        standingOrderSubmissionId:
          type: string
        status:
          $ref: '#/components/schemas/io.token.proto.common.token.TokenRequestResultStatus'
        statusReasonInformation:
          type: string
        tokenId:
          type: string
        transferId:
          type: string
    io.token.proto.common.alias.Alias.Type:
      enum:
      - INVALID
      - UNKNOWN
      - EMAIL
      - PHONE
      - DOMAIN
      - USERNAME
      - BANK
      - CUSTOM
      - EIDAS
      default: INVALID
      type: string
    io.token.proto.common.transferinstructions.TransferDestination.Elixir:
      type: object
      properties:
        accountNumber:
          type: string
    io.token.proto.common.token.TokenRequestPayload.AccessBody.ResourceTypeList:
      type: object
      properties:
        resources:
          items:
            $ref: '#/components/schemas/io.token.proto.common.token.TokenRequestPayload.AccessBody.ResourceType'
          type: array
        source:
          $ref: '#/components/schemas/io.token.proto.common.token.TokenRequestPayload.AccessBody.ResourceTypeList.SourceAccount'
    io.token.proto.common.transferinstructions.TransferDestination.UsStructured:
      type: object
      properties:
        abaRoutingNumber:
          type: string
        beneficiaryAccountNumber:
          type: string
        beneficiaryName:
          type: string
        receivingBankAddress:
          type: string
        receivingBankName:
          type: string
        swiftBic:
          type: string
    io.token.proto.common.providerspecific.cma9.DeliveryAddress:
      type: object
      properties:
        addressLine:
          items:
            type: string
          type: array
        addressType:
          type: string
        buildingNumber:
          type: string
        country:
          type: string
        countrySubDivision:
          items:
            type: string
          type: array
        department:
          type: string
        postCode:
          type: string
        streetName:
          type: string
        subDepartment:
          type: string
        townName:
          type: string
    io.token.proto.common.transferinstructions.TransferDestination.Sepa:
      type: object
      properties:
        bic:
          type: string
        iban:
          type: string
    io.token.proto.common.account.BankAccount.SecretAccount:
      type: object
      properties:
        secretId:
          type: string
    io.token.proto.common.token.TokenRequestPayload.AccessBody.ResourceType:
      enum:
      - INVALID
      - ACCOUNTS
      - BALANCES
      - TRANSACTIONS
      - TRANSFER_DESTINATIONS
      - FUNDS_CONFIRMATIONS
      - STANDING_ORDERS
      - SCHEDULED_PAYMENTS
      - DIRECT_DEBITS
      - TRUSTED_BENEFICIARIES
      - PARTIES
      default: INVALID
      type: string
    io.token.proto.common.account.AccountFeatures:
      type: object
      properties:
        requiresExternalAuth:
          format: boolean
          type: boolean
        supportsInformation:
          format: boolean
          type: boolean
        supportsPayment:
          format: boolean
          type: boolean
        supportsReceivePayment:
          format: boolean
          type: boolean
        supportsSendPayment:
          format: boolean
          type: boolean
    io.token.proto.common.transferinstructions.TransferDestination.BlueCash:
      type: object
      properties:
        accountNumber:
          type: string
    io.token.proto.common.token.TokenRequestOptions.TokenInternal:
      type: object
      properties:
        redirectUrl:
          type: string
        usingWebApp:
          format: boolean
          type: boolean
    io.token.proto.common.transferinstructions.ChargeBearer:
      enum:
      - INVALID_CHARGE_BEARER
      - CRED
      - DEBT
      - SHAR
      - SLEV
      default: INVALID_CHARGE_BEARER
      type: string
    io.token.proto.common.account.BankAccount.Iban:
      type: object
      properties:
        bic:
          type: string
        iban:
          type: string
    io.token.proto.common.account.AccountIdentifier.Iban:
      type: object
      properties:
        iban:
          type: string
    io.token.proto.common.token.ActingAs:
      type: object
      properties:
        displayName:
          type: string
        logoUrl:
          type: string
        refId:
          type: string
        secondaryName:
          type: string
    io.token.proto.common.token.TokenRequestResultStatus:
      enum:
      - UNKNOWN
      - PENDING
      - PROCESSED
      - REJECTED
      - EXPIRED
      default: UNKNOWN
      type: string
    io.token.proto.common.account.BankAccount.Token:
      type: object
      properties:
        accountId:
          type: string
        memberId:
          type: string
    io.token.proto.common.transferinstructions.TransferDestination.Swift:
      type: object
      properties:
        account:
          type: string
        bic:
          type: string
    io.token.proto.common.token.TokenRequestPayload.CredentialsEntry:
      type: object
      properties: {}
      additionalProperties:
        type: string
    io.token.proto.common.providerspecific.polishapi.PolishApiStandingOrderMetadata:
      type: object
      properties:
        deliveryMode:
          $ref: '#/components/schemas/io.token.proto.common.providerspecific.polishapi.DeliveryMode'
        hold:
          format: boolean
          type: boolean
    io.token.proto.common.transferinstructions.TransferDestination.FasterPayments:
      type: object
      properties:
        accountNumber:
          type: string
        sortCode:
          type: string
    io.token.proto.common.transferinstructions.PaymentContext:
      enum:
      - INVALID_CONTEXT
      - OTHER_CONTEXT
      - BILL_PAYMENT
      - ECOMMERCE_GOODS
      - ECOMMERCE_SERVICES
      - PERSON_TO_PERSON
      default: INVALID_CONTEXT
      type: string
    io.token.proto.common.providerspecific.cma9.Cma9TransferMetadata:
      type: object
      properties:
        endToEndIdentification:
          type: string
        instructionIdentification:
          type: string
        remittanceInformation:
          $ref: '#/components/schemas/io.token.proto.common.providerspecific.cma9.RemittanceInformation'
        risk:
          $ref: '#/components/schemas/io.token.proto.common.providerspecific.cma9.Risk'
    io.token.proto.common.transferinstructions.TransferDestination.ExpressElixir:
      type: object
      properties:
        accountNumber:
          type: string
    io.token.proto.common.token.TokenRequestPayload.AccessBody.AccountResourceList:
      type: object
      properties:
        resources:
          items:
            $ref: '#/components/schemas/io.token.proto.common.token.TokenRequestPayload.AccessBody.AccountResourceList.AccountResource'
          type: array
    io.token.proto.common.token.TokenRequestPayload.TransferBody:
      type: object
      properties:
        amount:
          type: string
        confirmFunds:
          format: boolean
          type: boolean
        currency:
          type: string
        destinations:
          items:
            $ref: '#/components/schemas/io.token.proto.common.transferinstructions.TransferEndpoint'
          type: array
        executionDate:
          type: string
        instructions:
          $ref: '#/components/schemas/io.token.proto.common.transferinstructions.TransferInstructions'
        lifetimeAmount:
          type: string
        remittanceReference:
          type: string
        returnRefundAccount:
          format: boolean
          type: boolean
        setTransferDestinationsUrl:
          type: string
    io.token.proto.common.providerspecific.stet.PartyIdentification:
      type: object
      properties:
        name:
          type: string
        organisationId:
          $ref: '#/components/schemas/io.token.proto.common.providerspecific.stet.GenericIdentification'
        postalAddress:
          $ref: '#/components/schemas/io.token.proto.common.providerspecific.stet.PostalAddress'
        privateId:
          $ref: '#/components/schemas/io.token.proto.common.providerspecific.stet.GenericIdentification'
    io.token.proto.common.account.AccountIdentifier.GbDomestic:
      type: object
      properties:
        accountNumber:
          type: string
        sortCode:
          type: string
    io.token.proto.common.transferinstructions.TransferDestination.Type:
      enum:
      - UNKNOWN
      - BUSINESS
      - PERSONAL
      default: UNKNOWN
      type: string
    io.token.proto.common.account.BankAccount.TokenAuthorization:
      type: object
      properties:
        authorization:
          $ref: '#/components/schemas/io.token.proto.banklink.BankAuthorization'
    io.token.proto.common.token.TokenRequestPayload:
      type: object
      properties:
        accessBody:
          $ref: '#/components/schemas/io.token.proto.common.token.TokenRequestPayload.AccessBody'
        actingAs:
          $ref: '#/components/schemas/io.token.proto.common.token.ActingAs'
        bulkTransferBody:
          $ref: '#/components/schemas/io.token.proto.common.token.BulkTransferBody'
        callbackState:
          type: string
        countries:
          items:
            type: string
          type: array
        credentials:
          $ref: '#/components/schemas/io.token.proto.common.token.TokenRequestPayload.CredentialsEntry'
        customizationId:
          type: string
        description:
          type: string
        destinationCountry:
          type: string
        disableFutureDatedPaymentConversion:
          format: boolean
          type: boolean
        redirectUrl:
          type: string
        refId:
          type: string
        standingOrderBody:
          $ref: '#/components/schemas/io.token.proto.common.token.StandingOrderBody'
        to:
          $ref: '#/components/schemas/io.token.proto.common.token.TokenMember'
        tokenExpiration:
          format: string
          type: string
        transferBody:
          $ref: '#/components/schemas/io.token.proto.common.token.TokenRequestPayload.TransferBody'
        useCredentialFlow:
          format: boolean
          type: boolean
        userRefId:
          type: string
    io.token.proto.common.token.TokenRequestPayload.AccessBody.ResourceTypeList.SourceAccount:
      type: object
      properties:
        accountIdentifier:
          $ref: '#/components/schemas/io.token.proto.common.account.AccountIdentifier'
        currency:
          type: string
    io.token.proto.common.providerspecific.stet.PostalAddress:
      type: object
      properties:
        addressLine:
          items:
            type: string
          type: array
        country:
          type: string
    io.token.proto.common.providerspecific.polishapi.PolishApiTransferMetadata:
      type: object
      properties:
        deliveryMode:
          $ref: '#/components/schemas/io.token.proto.common.providerspecific.polishapi.DeliveryMode'
        hold:
          format: boolean
          type: boolean
    io.token.proto.common.security.SealedMessage:
      type: object
      properties:
        ciphertext:
          type: string
        noop:
          $ref: '#/components/schemas/io.token.proto.common.security.SealedMessage.NoopMethod'
        rsa:
          $ref: '#/components/schemas/io.token.proto.common.security.SealedMessage.RsaMethod'
        rsaAes:
          $ref: '#/components/schemas/io.token.proto.common.security.SealedMessage.RsaAesMethod'
    io.token.proto.common.transferinstructions.TransferDestination.Token:
      type: object
      properties:
        accountId:
          type: string
        memberId:
          type: string
    io.token.proto.common.account.BankAccount.EuDomesticNonEuro:
      type: object
      properties:
        bban:
          type: string
        bic:
          type: string
        clearingNumber:
          type: string
        iban:
          type: string
    io.token.proto.common.transferinstructions.TransferDestination.VirtualAccount:
      type: object
      properties:
        localInstrument:
          $ref: '#/components/schemas/io.token.proto.common.transferinstructions.TransferDestination.VirtualAccount.LocalInstrument'
        virtualAccountId:
          type: string
    io.token.proto.common.providerspecific.ProviderTransferMetadata:
      type: object
      properties:
        cma9TransferMetadata:
          $ref: '#/components/schemas/io.token.proto.common.providerspecific.cma9.Cma9TransferMetadata'
        nextGenPsd2TransferMetadata:
          $ref: '#/components/schemas/io.token.proto.common.providerspecific.nextgenpsd2.NextGenPsd2TransferMetadata'
        polishApiTransferMetadata:
          $ref: '#/components/schemas/io.token.proto.common.providerspecific.polishapi.PolishApiTransferMetadata'
        stetTransferMetadata:
          $ref: '#/components/schemas/io.token.proto.common.providerspecific.stet.StetTransferMetadata'
    io.token.proto.common.providerspecific.cma9.PaymentContextCode:
      enum:
      - INVALID_PAYMENT_CONTEXT_CODE
      - BILL_PAYMENT
      - ECOMMERCE_GOODS
      - ECOMMERCE_SERVICES
      - OTHER
      - PARTY_TO_PARTY
      - BILLING_GOODS_AND_SERVICES_IN_ADVANCE
      - BILLING_GOODS_AND_SERVICES_IN_ARREARS
      - PISP_PAYEE
      - ECOMMERCE_MERCHANT_INITIATED_PAYMENT
      - FACE_TO_FACE_POINT_OF_SALE
      - TRANSFER_TO_SELF
      - TRANSFER_TO_THIRD_PARTY
      default: INVALID_PAYMENT_CONTEXT_CODE
      type: string
    io.token.proto.common.token.TokenMember:
      type: object
      properties:
        alias:
          $ref: '#/components/schemas/io.token.proto.common.alias.Alias'
        id:
          type: string
        username:
          type: string
    io.token.proto.common.token.BulkTransferBody.Transfer:
      type: object
      properties:
        amount:
          type: string
        currency:
          type: string
        description:
          type: string
        destination:
          $ref: '#/components/schemas/io.token.proto.common.transferinstructions.TransferDestination'
        metadata:
          $ref: '#/components/schemas/io.token.proto.common.transferinstructions.TransferInstructions.Metadata'
        refId:
          type: string
    io.token.proto.common.providerspecific.cma9.RemittanceInformation:
      type: object
      properties:
        reference:
          type: string
        referenceHash:
          type: string
    io.token.proto.common.account.AccountIdentifier.Msisdn:
      type: object
      properties:
        msisdn:
          type: string
    io.token.proto.common.providerspecific.stet.StetTransferMetadata:
      type: object
      properties:
        beneficiary:
          $ref: '#/components/schemas/io.token.proto.common.providerspecific.stet.Beneficiary'
        debtorAgent:
          $ref: '#/components/schemas/io.token.proto.common.providerspecific.stet.FinancialInstitutionIdentification'
        endToEndId:
          type: string
        executionRule:
          type: string
        paymentTypeInformation:
          $ref: '#/components/schemas/io.token.proto.common.providerspecific.stet.PaymentTypeInformation'
        regulatoryReportingCodes:
          $ref: '#/components/schemas/io.token.proto.common.providerspecific.stet.RegulatoryReportingCodes'
    io.token.proto.common.providerspecific.polishapi.DeliveryMode:
      enum:
      - INVALID_DELIVERY_MODE
      - STANDARD_D2
      - STANDARD_D1
      - URGENT_D1
      - EXPRESS_D0
      default: INVALID_DELIVERY_MODE
      type: string
    io.token.proto.common.account.AccountIdentifier.Token:
      type: object
      properties:
        accountId:
          type: string
        memberId:
          type: string
    io.token.proto.common.transferinstructions.TransferInstructions.Metadata:
      type: object
      properties:
        chargeBearer:
          $ref: '#/components/schemas/io.token.proto.common.transferinstructions.ChargeBearer'
        deliveryAddress:
          $ref: '#/components/schemas/io.token.proto.common.address.Address'
        merchantCategoryCode:
          type: string
        merchantCustomerId:
          type: string
        paymentContext:
          $ref: '#/components/schemas/io.token.proto.common.transferinstructions.PaymentContext'
        providerStandingOrderMetadata:
          $ref: '#/components/schemas/io.token.proto.common.providerspecific.ProviderStandingOrderMetadata'
        providerTransferMetadata:
          $ref: '#/components/schemas/io.token.proto.common.providerspecific.ProviderTransferMetadata'
        purposeCode:
          type: string
        ultimateCreditor:
          type: string
        ultimateDebtor:
          type: string
    io.token.proto.common.token.TokenRequestPayload.AccessBody.AccountResourceList.AccountResource:
      type: object
      properties:
        accountIdentifier:
          $ref: '#/components/schemas/io.token.proto.common.account.AccountIdentifier'
        bankAccount:
          $ref: '#/components/schemas/io.token.proto.common.account.BankAccount'
        customerData:
          $ref: '#/components/schemas/io.token.proto.common.transferinstructions.CustomerData'
        type:
          $ref: '#/components/schemas/io.token.proto.common.token.TokenRequestPayload.AccessBody.AccountResourceType'
    io.token.proto.common.providerspecific.cma9.BeneficiaryAccountType:
      enum:
      - INVALID_BENEFICIARY_ACCOUNT_TYPE
      - PERSONAL
      - JOINT_PERSONAL
      - PERSONAL_SAVINGS_ACCOUNT
      - BUSINESS
      - BUSINESS_SAVINGS_ACCOUNT
      - CHARITY
      - COLLECTION
      - CORPORATE
      - GOVERNMENT
      - EWALLET
      - INVESTMENT
      - ISA
      - PREMIER
      - WEALTH
      - PENSION
      default: INVALID_BENEFICIARY_ACCOUNT_TYPE
      type: string
    io.token.proto.common.providerspecific.cma9.Risk:
      type: object
      properties:
        beneficiaryAccountType:
          $ref: '#/components/schemas/io.token.proto.common.providerspecific.cma9.BeneficiaryAccountType'
        beneficiaryPrepopulatedIndicator:
          type: string
        contractPresentIndicator:
          type: string
        deliveryAddress:
          $ref: '#/components/schemas/io.token.proto.common.providerspecific.cma9.DeliveryAddress'
        merchantCategoryCode:
          type: string
        merchantCustomerIdentification:
          type: string
        paymentContextCode:
          $ref: '#/components/schemas/io.token.proto.common.providerspecific.cma9.PaymentContextCode'
        paymentPurposeCode:
          type: string
    io.token.proto.common.transferinstructions.TransferDestination.VirtualAccount.LocalInstrument:
      enum:
      - INVALID_LOCAL_INSTRUMENT
      - SEPA
      - SEPA_INSTANT
      - FASTER_PAYMENTS
      default: INVALID_LOCAL_INSTRUMENT
      type: string
    io.token.proto.common.token.TokenRequest:
      type: object
      properties:
        id:
          type: string
        requestOptions:
          $ref: '#/components/schemas/io.token.proto.common.token.TokenRequestOptions'
        requestPayload:
          $ref: '#/components/schemas/io.token.proto.common.token.TokenRequestPayload'
        status:
          $ref: '#/components/schemas/io.token.proto.common.token.TokenRequestResultStatus'
        statusReasonInformation:
          type: string
    io.token.proto.common.alias.Alias:
      type: object
      properties:
        realm:
          type: string
        realmId:
          type: string
        type:
          $ref: '#/components/schemas/io.token.proto.common.alias.Alias.Type'
        value:
          type: string
    io.token.proto.common.transferinstructions.TransferInstructions:
      type: object
      properties:
        destinations:
          items:
            $ref: '#/components/schemas/io.token.proto.common.transferinstructions.TransferEndpoint'
          type: array
        metadata:
          $ref: '#/components/schemas/io.token.proto.common.transferinstructions.TransferInstructions.Metadata'
        source:
          $ref: '#/components/schemas/io.token.proto.common.transferinstructions.TransferEndpoint'
        transferDestinations:
          items:
            $ref: '#/components/schemas/io.token.proto.common.transferinstructions.TransferDestination'
          type: array
    io.token.proto.common.account.BankAccount.MetadataEntry:
      type: object
      properties: {}
      additionalProperties:
        type: string
    io.token.proto.common.providerspecific.stet.Beneficiary:
      type: object
      properties:
        creditor:
          $ref: '#/components/schemas/io.token.proto.common.providerspecific.stet.PartyIdentification'
        creditorAccount:
          $ref: '#/components/schemas/io.token.proto.common.providerspecific.stet.AccountIdentification'
        creditorAgent:
          $ref: '#/components/schemas/io.token.proto.common.providerspecific.stet.FinancialInstitutionIdentification'
        id:
          type: string
