openapi: 3.2.0
info:
  title: Token Secrets API
  version: 1.0.0
  description: Token REST API.
servers:
- url: https://api.token.io/v1
tags:
- name: Secrets
paths:
  /secrets/upload/key-and-certificate:
    post:
      operationId: GatewayService.UploadKeyAndCertificate
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/io.token.proto.gateway.UploadKeyAndCertificateResponse'
      tags:
      - Secrets
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/io.token.proto.gateway.UploadKeyAndCertificateRequest'
        required: true
      summary: Gateway service upload key and certificate
      x-summary-source: derived
components:
  schemas:
    io.token.proto.gateway.UploadKeyAndCertificateRequest:
      type: object
      properties:
        keyAndCertificate:
          $ref: '#/components/schemas/io.token.proto.gateway.UploadKeyAndCertificate'
        keys:
          $ref: '#/components/schemas/io.token.proto.gateway.UploadKeys'
    io.token.proto.gateway.UploadKeyAndCertificateResponse:
      type: object
      properties:
        keyId:
          type: string
    io.token.proto.gateway.UploadKeyAndCertificate:
      type: object
      properties:
        certificate:
          type: string
        certificateName:
          type: string
        privateKey:
          type: string
    io.token.proto.gateway.UploadKeys:
      type: object
      properties:
        privateKey:
          type: string
        publicKey:
          type: string
